<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= comic.name %> admin interface</title>
    <style>
      @font-face {
        font-family: 'xkcd-Regular-v3';
        src: url('https://xkcd.com/s/4fcbf3.woff') format('woff');
      }
    </style>
  </head>
  <body>
    <%= tags.bodyTags %>
  </body>
</html>
